<%= link_to("<< Back to page list", {:action => 'page_list', :id => @subject.id}, :class => 'back-link')%>

<div class = "page show">
	<h2>Page Details</h2>
	<table summary = "page detail view"> 
		<tr>
			<th>Name</th>
			<td><%= @page.name %></td>
		</tr>
		<tr>
			<th>Position</th>
			<td><%= @page.position%></td>
		</tr>
		<tr>
			<th>Visiblity</th>
			<td><%= @page.visible ? 'true' : 'false'%></td>
		</tr>
		<tr>
			<th>Created</th>
			<td><%= @page.created_at%></td>
		</tr>
		<tr>
			<th>Updated</th>
			<td><%= @page.updated_at%></td>
		</tr>

	</table>
	<%= params.inspect%>
</div>